=flex
  display: flex

=row
  +flex
  flex-direction: row

=column
  +flex
  flex-direction: column

.dashboard
  +row
  position: relative
  overflow: hidden
  height: 100vh

  .is-scrollable
    overflow-y: auto

  &-panel
    +column
    padding-bottom: 3rem
    flex: 0 0 20%

    &-header
      margin: 2rem 20%

    &-content
      margin: 0 2rem
